



:global(.fiq-select) {
    font-family: 'Poppins';
    padding: 0.6rem;
    border-radius: 6px;
    background-color: #131313;
    color: #fff;
    cursor: pointer;
    border: 2px solid #4045df;
    font-weight: 500;
    font-size: 1.1rem;
}


