

$component-max-width-type-1: 1400px;
$component-max-width-type-2: 900px;

// First Defined Color 

$light-blue-grey: #5B6987; //used for text
$dark-blue: #031B4E; //used for hover text 
$primary-blue: #0069E1;
$light-grey: #F3F5F9;
$lighter-blue-grey: #EFF2FB;
$white: #fafafa;
$off-white: #e1e1e1;

// Second Defined Color
$light-beige: #FAF8F4;
$medium-grey: #535251;
$light-grey: #C7C0B9;
$deep-purple: #4045DF;
$deep-purple-variation-1: #4040DF;
$deep-purple-variation-2: #9093fd;
$turquoise-lime-green: #b4ebd7;
$deep-red: #d75151;

//various shades of grey
$dark-grey-3: #6F7070;
$dark-grey-6 : #424242;
$dark-grey-5 : #2A2A2A;
$dark-grey-2: #262A2A;
$dark-grey-1: #1D1E1F;
$dark-grey-4: #131313;

// Text color
$text-primary: $white;
$text-secondary: $dark-grey-3;
$text-tertiary: $off-white; 
$text-secondary-hover: $dark-blue;
$text-links: $deep-purple;

// Background color
$primary-background: $dark-grey-4;
$secondary-background: $dark-grey-5;
$tertiary-background: $dark-grey-2;